In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv('../data/customers.csv')
customers.head()

      ID            City State DateOfBirth     Sex
0  14001        Curitiba    PR   6/28/1985   Homem
1  14002   Florian贸polis    SC   1/10/1987   Homem
2  14003  Rio de Janeiro    RJ   11/5/1979   Homem
3  14004  Rio de Janeiro    RJ  11/25/1983  Mulher
4  14005   Florian贸polis    SC    4/7/1969   Homem