In [1]:
import pandas as pd

In [2]:
products = pd.read_csv('../data/products.csv')
products.head()

                                  ID             Name Size
0  00066f42aeeb9f3007548bb9d3f33c381  Capitão América    P
1  00066f42aeeb9f3007548bb9d3f33c382  Capitão América    M
2  00066f42aeeb9f3007548bb9d3f33c383  Capitão América    G
3  00088930e925c41fd95ebfe695fd26551             Thor    P
4  00088930e925c41fd95ebfe695fd26552             Thor    M

In [3]:
products['Name'].describe()

count                 73
unique                24
top       Homer Simpsons
freq                   4
Name: Name, dtype: object

In [4]:
products['Name'].unique()

array(['Capitão América', 'Thor', 'Deadpool', 'Pantera Negra', 'Batman',
       'Flash', 'Coringa', 'Mulher-Maravilha', 'Thanos', 'Wolverine',
       'Capitã Marvel', 'Naruto', 'Pokemon Go Squirtle', 'Super Mario',
       'BIXDream', 'Tempestade', 'Ciclope', 'Dragon Ball Z',
       'Darth Vader', 'Iron Man', 'Bazinga', 'League Legends',
       'Rick Morty', 'Homer Simpsons'], dtype=object)

In [7]:
products.query("ID == '002ec297b1b00fb9dde7ee6ac24b67713'")

                                   ID     Name Size
62  002ec297b1b00fb9dde7ee6ac24b67713  Bazinga    G

In [8]:
products.query("Name == 'Iron Man'")

                                   ID      Name Size
57  002d4ea7c04739c130bb74d7e7cd16941  Iron Man    P
58  002d4ea7c04739c130bb74d7e7cd16942  Iron Man    M
59  002d4ea7c04739c130bb74d7e7cd16943  Iron Man    G