In [1]:
import pandas as pd

In [2]:
products = pd.read_csv('../data/products.csv')
products.head()

                                  ID             Name Size
0  00066f42aeeb9f3007548bb9d3f33c381  Capitão América    P
1  00066f42aeeb9f3007548bb9d3f33c382  Capitão América    M
2  00066f42aeeb9f3007548bb9d3f33c383  Capitão América    G
3  00088930e925c41fd95ebfe695fd26551             Thor    P
4  00088930e925c41fd95ebfe695fd26552             Thor    M

In [6]:
products['Name'].describe()

count                 73
unique                24
top       Homer Simpsons
freq                   4
Name: Name, dtype: object