### If the customer is a woman and lives in RJ, what product would i recommend?

- Get customers data
    - Convert sex to binary, hot encode the state
- Get products data
    - Build category column, hot encode it
- Build dataset of purchase history
    - Columns: sex, stage, product_category is the class

In [1]:
import pandas as pd

### Build products category column

In [3]:
products = pd.read_csv('../data/products.csv')

In [4]:
products['Name'].unique()

array(['Capitão América', 'Thor', 'Deadpool', 'Pantera Negra', 'Batman',
       'Flash', 'Coringa', 'Mulher-Maravilha', 'Thanos', 'Wolverine',
       'Capitã Marvel', 'Naruto', 'Pokemon Go Squirtle', 'Super Mario',
       'BIXDream', 'Tempestade', 'Ciclope', 'Dragon Ball Z',
       'Darth Vader', 'Iron Man', 'Bazinga', 'League Legends',
       'Rick Morty', 'Homer Simpsons'], dtype=object)

In [27]:
categoriesList = list() #row['Name'] == ''

In [28]:
marvel = [
    'Capitão América',
    'Thor',
    'Deadpool',
    'Pantera Negra',
    'Thanos',
    'Wolverine',
    'Capitã Marvel'
    'Tempestade',
    'Ciclope',
    'Iron Man'
]
dc = [
    'Batman',
    'Flash',
    'Coringa',
    'Mulher-Maravilha'
]
anime = [
    'Naruto',
    'Dragon Ball Z'
]
games = [
    'League Legends',
    'Super Mario',
    'Pokemon Go Squirtle'
]
cartoon = [
    'Rick Morty',
    'Homer Simpsons'
]
starwars = [
    'Darth Vader'
]
boring = ['BIXDream']
tv = ['Bazinga']

In [29]:
for index, row in products.iterrows():
    if row['Name'] in marvel:
        categoriesList.append('MARVEL')
    elif row['Name'] in dc:
        categoriesList.append('DC')
    elif row['Name'] in anime:
        categoriesList.append('Anime')
    elif row['Name'] in games:
        categoriesList.append('Games')
    elif row['Name'] in cartoon:
        categoriesList.append('Cartoon')
    elif row['Name'] in starwars:
        categoriesList.append('StarWars')
    elif row['Name'] in boring:
        categoriesList.append('Boring')
    elif row['Name'] in tv:
        categoriesList.append('TV')
    else:
        categoriesList.append('Nan')

In [30]:
products['Category'] = categoriesList

In [33]:
products.tail()

                                   ID            Name Size Category
68  0030e635639c898b323826589761cf233      Rick Morty    G  Cartoon
69  003128f981470c3e5a2e7445e4a771cd1  Homer Simpsons    P  Cartoon
70  003128f981470c3e5a2e7445e4a771cd2  Homer Simpsons    M  Cartoon
71  003128f981470c3e5a2e7445e4a771cd3  Homer Simpsons    G  Cartoon
72  003128f981470c3e5a2e7445e4a771cd4  Homer Simpsons   GG  Cartoon

In [38]:
# DataFrame query
search = products.loc[products['ID'] == '00066f42aeeb9f3007548bb9d3f33c381']

In [78]:
search['Category'][0]

'MARVEL'

### Build DataSet
Join customer data with product category looping through sales data.

In [62]:
# Load DataSets
customers = pd.read_csv('../data/customers.csv')

columnsNames = ["ID", "ProductID", "ClientID", "Discount", "UnitPrice", "Quantity", "StoreID", "Date"]
sales = pd.read_csv('../data/sales.csv', sep=',', header=None, names=columnsNames)
sales.reset_index(drop=True, inplace=True)
dfSales = sales.iloc[5:,0:8] # get the 5 line to the end, and the columns from 0 to 8
dfStore1 = dfSales.apply(lambda row: row[dfSales['StoreID'] == '1'])

In [94]:
# Test to convert dataset line search into some kind of object
searchCustomer = customers.loc[customers['ID'] == int('14001')].squeeze()
searchCustomer.ID

14001

In [95]:
customerSex = list()
customerState = list()
salesProductCategory = list()

for index, row in dfStore1.iterrows():
    searchProduct = products.loc[products['ID'] == row['ProductID']].squeeze()
    salesProductCategory.append(searchProduct.Category)
    
    searchCustomer = customers.loc[customers['ID'] == int(row['ClientID'])].squeeze()
    customerSex.append(searchCustomer.Sex)
    customerState.append(searchCustomer.State)

In [ ]:
salesProductCategory

In [98]:
dfStore1['Category'] = salesProductCategory
dfStore1['Sex'] = customerSex
dfStore1['State'] = customerState

In [99]:
dfStore1.head()

,ID,ProductID,ClientID,Discount,UnitPrice,Quantity,StoreID,Date,Category,Sex,State
8,7180475b60fe6bbbde424d39704a1177,001b72dfd63e9833e8c02742adf472e33,14002,"0,1","201,6",2,1,4/10/2018,MARVEL,Homem,SC
9,76600853a200fe87e141adae6b35674c,00210e41887c2a8ef9f791ebc780cc363,14002,"0,1",406,1,1,1/21/2019,Anime,Homem,SC
10,7ab64f42a8f9ab290e920eed320d7e60,002552c0663708129c0019cc97552d7d3,14002,"0,1","249,2",1,1,3/28/2019,Nan,Homem,SC
11,b35a771164a9defa3b4767f1b66918b1,002959d7a0b0990fe2d69988affcbc803,14002,"0,08","261,8",1,1,8/14/2019,MARVEL,Homem,SC
12,28618be7d166aad45ab14e9bca43cc19,00126f27c813603687e6ce486d909d013,14002,"0,08","114,8",1,1,12/30/2019,DC,Homem,SC

### Next steps
- Clean the columns that wont be used
- Encode the customer sex and state