In [1]:
import pandas as pd

In [7]:
columnsNames = ["ID", "ProductID", "ClientID", "Discount", "UnitPrice", "Quantity", "StoreID", "Date"]

In [16]:
sales = pd.read_csv('../data/sales.csv', sep=',', header=None, names=columnsNames)
sales.head(6)

                                       ID                          ProductID  \
NaN NaN                               NaN                                NaN
    NaN                               NaN                                NaN
    NaN                               NaN                                NaN
    NaN                               NaN                                NaN
    NaN                                ID                          ProductID
    NaN  80260d682079b6090c8285b398c50d97  002552c0663708129c0019cc97552d7d3

         ClientID  Discount  UnitPrice  Quantity  StoreID        Date
NaN NaN       NaN       NaN        NaN       NaN      NaN         NaN
    NaN       NaN       NaN        NaN       NaN      NaN         NaN
    NaN       NaN       NaN        NaN       NaN      NaN         NaN
    NaN       NaN       NaN        NaN       NaN      NaN         NaN
    NaN  ClientID  Discount  UnitPrice  Quantity  StoreID        Date
    NaN     14001      0,08      249,2         1        4  12/10/2018

In [24]:
sales.reset_index(drop=True)
df = sales.iloc[5:,0:8]
df.head()

,ID,ProductID,ClientID,Discount,UnitPrice,Quantity,StoreID,Date
5,80260d682079b6090c8285b398c50d97,002552c0663708129c0019cc97552d7d3,14001,"0,08","249,2",1,4,12/10/2018
6,3275736da1234f55d52bdf09d86b93bc,001b237c0e9bb435f2e54071129237e93,14001,"0,1","162,4",1,4,4/25/2019
7,f3513eec8f1434b5b7e04ddf3598df40,00066f42aeeb9f3007548bb9d3f33c381,14001,"0,1","194,6",1,4,7/17/2019
8,7180475b60fe6bbbde424d39704a1177,001b72dfd63e9833e8c02742adf472e33,14002,"0,1","201,6",2,1,4/10/2018
9,76600853a200fe87e141adae6b35674c,00210e41887c2a8ef9f791ebc780cc363,14002,"0,1",406,1,1,1/21/2019

In [29]:
# df.info()
df['Discount'].describe()

count     32753
unique        2
top         0,1
freq      21309
Name: Discount, dtype: object