In [1]:
import pandas as pd

In [2]:
stores = pd.read_csv('../data/stores.csv')
stores.head()

   ID            Name State
0   1   Florian처polis    SC
1   2  Rio de Janeiro    RJ
2   3    Porto Alegre    RS
3   4        Curitiba    PR
4   7       S찾o Paulo    SP